.App {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: 100%;
}

.child-header {
  flex: 1 1 20px;
}

.child-main {
  flex: 3 3 60px;
}

.form-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.form-child-small {
  flex: 1 1 20px;
}

.form-child-big {
  flex: 3 3 60px;
}

input {
  font-size: 4vw;
  height: 8vw;
}

button {
  padding: 15px 32px;
  margin: 5px;
  color: white;
  background-color: #FE7831;
  border: 0;
  font-size: 4vw;
}

button:hover {
  background-color: black;
  border-color: white;
  border: 1px solid;
}

.back-link, .edit-link {
  text-decoration: none;
  color: white;
  background-color: #FE7831;
  padding: 15px 32px;
}

.back-link:hover, .edit-link:hover {
  border: 1px solid;
  border-color: white;
  background-color: black;
}
